.txt-green{
  color:#14c6a4 !important;
  border: 1px solid #14c6a4;

}

.txt-green:hover{
  color: white;
}

.txt-red{
  color: #f44336 !important;
  border: 1px solid #f44336;
}

.txt-red:hover{
  color: white;
}

.txt-green:hover{
color: white;
}

.previewBox{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  }

.imgFile{
  border-radius: 5px;
  width: 200px !important;
  max-width: 200px !important;
  max-height: 150px !important;
}

.attach_button{
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
}
