::ng-deep{
  .mat-autocomplete-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%)!important;
  }
}

.option_bg{
  background-color: white;
  border: none;
  width: 100%;
}


.autocomplete_input {
  width: 77%;
}
