<!-- Esta vista tiene el propósito de ser una sala de prueba para diferentes componentes -->
<div class="container">

  <div class="row h-100">

    <div class="col-12 h-100">

      <!-- Para probar inputs -->
      <cmp-test-inputs></cmp-test-inputs>

      <!-- Para probar diálogos -->
      <div class="row mt-5">

        <!-- Componente con ejemplos de diálogos -->
        <cmp-test-dialogs></cmp-test-dialogs>

      </div>

      <!-- Para probar llamados de apis -->
      <cmp-test-apis></cmp-test-apis>

    </div>

  </div>

</div>
