//--------------------------------------------------------------------------------------------------------------------------------------
//  Variables de colores
//--------------------------------------------------------------------------------------------------------------------------------------


// Paleta de colores del proyecto
$v-cc-primary: var(--v-cc-dynamic-primary);
$v-cc-primary-disabled: #daf2ed;
$v-cc-primary-selected: var(--v-cc-dynamic-primary-selected);
$v-cc-secondary: #6b9cf4;
$v-cc-secondary-disabled: #eff4fd;
$v-cc-secondary-selected: #4484e0;
// Notificaciones
$v-cc-success: #14c6a4;
$v-cc-error: #ff0000;
$v-cc-warning: #fdc713;
$v-cc-info: #03a9f4;
// Textos
$v-cc-txt: #595959;
$v-cc-back-txt: #a09f9f;
$v-cc-title-txt: #afafaf;
// Fondos
$v-cc-background-page: #f1f4f8;
$v-cc-menu: #ffffff;
$v-cc-navbar: #444444;
// Colores neutros de uso especifico
$v-cc-white: #ffffff;
$v-cc-light-white: #f1f4f8;
$v-cc-black: #000000;
$v-cc-dark-gray: #595959;
$v-cc-medium-gray: #a09f9f;
$v-cc-light-gray: #cccaca;

// Seteo este color como una variable para que pueda ser seteado de forma dinámica
$dynamic_border_radios_button: 20px;

// Seteo este color como una variable para que pueda ser seteado de forma dinámica
$dynamic_border_radios: 10px;

// Creo variables que puedan ser modificadas en JS
:root {

  // Variable que indica el color principal al seleccionar
  --v-cc-dynamic-primary: #14c6a4;

  // Variable que indoca el color principal al estar seleccionado
  --v-cc-dynamic-primary-selected: #0db292;

  // Variable que define el radio del borde para los botones
  --mdc-text-button-container-shape: #{$dynamic_border_radios_button};

  // Variable que define el radio del borde para los botones protegidos
  --mdc-protected-button-container-shape: #{$dynamic_border_radios_button};

  // Variable que define el radio del borde para la clase de bootstrap
  --bs-border-radius: #{$dynamic_border_radios};

}
