@import "node_modules/bootstrap/dist/css/bootstrap.css";
@import "./app/common/assets/styles/scss/backgrounds.scss";
@import "./app/common/assets/styles/scss/materialize.scss";
@import "./app/common/assets/styles/scss/text.scss";
@import "./app/common/assets/styles/scss/variables.scss";
@import "./app/common/assets/styles/scss/effects.scss";
@import "./app/common/assets/styles/scss/themes-material.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
